/* Fullscreen loader with modern styles */
.loader-section {
  height: calc(100vh - 4rem);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f6f7fb;
}

.loader-spinner {
  border: 8px solid #f3f3f3; /* Light grey */
  border-top: 8px solid #fc8019; /* Swiggy Orange */
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 1.5s linear infinite;
}

/* Spinner animation */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
